#LogoFront {
    position: absolute;
    margin: auto;
    height: 100px;
    top: 163px;
}

.vl {
    border-top: 2px solid #393333;
    margin: auto;

    position: absolute;
    width: 215px;
    height: 0px;
    top: 284.67px;

}

#FrontHeadline {
    position: absolute;
    height: 55px;
    top: 301px;
    margin: auto;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.2em;
    color: #000000;

}

.Front-sostm {
    padding: 1rem 1.5rem;
    position: absolute;
    top: 432px;
    background: #FFFFFF;
    border: 2px solid #000000;
    border-radius: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;

}


.Front-sostm img {
    width: 26px;
}

.Front-sostm-kast  { 
    position: absolute;
    top: 600px;
    min-height: 50px;
    min-height: 50px;
    background: #bdd7e6;
    padding: 1rem;

}

.Front-sostm-kast a {
    display: flex;
    border: solid black 2px;
    margin: 1rem;
    padding: 1rem;

}

.Front-sostm-kast .button-text {
    flex:1;
    padding: 1rem;
    text-align: center;
}