@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&family=Roboto&display=swap');


* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f1f3f5;
  margin: 0;
  font-family:'Nunito', sans-serif;
}

/* Drop page */

.content {
  display: flex;
  justify-content: center;
  width: 375px;
  height: 812px;
  margin:0 auto;
  background-color:#e2e8ee;
}

.header {
  margin-top: 61px;
}

h1 {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: normal;

}
.title {
  width: 150px;
  letter-spacing: 2px;
}

.drop-header {
    background-color: #e2e8ee;
    height: 151px;
}
.box {
  display: flex; 
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 375px;
  height: 329px;
  margin:0 auto;
  background-color:#e2e8ee;
}
h2 {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: normal;

}
.go-button{
 justify-content: center;
  text-align: center;
  border-style: hidden;
  border-radius: 10px;
  width: 210px;
  height: 40px;
  margin:0 auto;
  background-color:white
  
   
} 

.walking {
  display:flex ;
  justify-content: center;
  text-align: center;
  align-items: center;
}  

