@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&family=Roboto&display=swap');


* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f1f3f5;
  margin: 0;
  background-color:#e2e8ee;
  font-family:'Nunito', sans-serif;
}

/* Drop page */



.header {
  margin-top: 61px;
}

h1 {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: normal;

}
.title {
  width: 150px;
  letter-spacing: 2px;
}

.drop-header {
    background-color: #e2e8ee;
    height: 151px;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
 
}

.button_content {
  display: flex;
  flex-direction: column;
}

.logo {
  display: flex;
  margin: auto;
  margin-top: 163px;
}

.line {
  margin: auto;
  margin-top: 20.95px;

}

.index_buttons {
width: 292px;
height: 43px;
background: #FFFFFF;
border: 2px solid #000000;
border-radius: 10px;
margin-top: 25px;
text-align: center;
font-family: 'Nunito';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;
letter-spacing: 0.1em;
}

.index_buttons:hover {
  transition: 150ms;
  opacity: 50%;
  cursor: pointer;
}

.index_icons {
  margin-right: 10px;
  margin-left: auto;

}

.time_text {
display: flex;
margin: auto;
margin-top: 20px;
margin-bottom: 30px;
width: 215px;
font-family: 'Nunito';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 25px;
align-items: center;
text-align: center;
letter-spacing: 0.2em;
color: #000000;
}

.skip_button {
display: flex;
margin: auto;
margin-top: 66px;
border: none;
font-family: 'Nunito';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 27px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.2em;
color: #000000;
}

.skip_button:hover {
  transition: 150ms;
  opacity: 50%;
  background: none;
  text-decoration: underline;
  cursor: pointer;
}

