@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&family=Roboto&display=swap');


* {
  margin: 0;
  padding: 0;
  font-family: 'Nunito';
}

body {
  background-color: #f1f3f5;
  margin: 0;
  font-family:'Nunito', sans-serif;
}

/* Drop page */

.content {
  display: flex;
  justify-content: center;
  /* width: 375px; */
  min-height: 100vh;
  margin:0 auto;
  background-color:#e2e8ee;
}

.header {
  margin-top: 61px;
}

h1 {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: normal;

}
.title {
  width: 150px;
  letter-spacing: 2px;
}

.drop-header {
    background-color: #e2e8ee;
    height: 151px;
}

