body{
    background-color: #f5f5f5;
    margin: 0;
}
    
.pref-container {
    display: flex; 
    justify-content: center;
      
}

hr {
    position: absolute;
    width: 150px;
    height: 0px;
    left: 109px;
    top: 125.5px;
    
    border: 2px solid #000000;
    transform: rotate(-0.19deg);
}






.drop-content {
    display: flex;
    justify-content: center;
}

.drop-header {
    background-color: #e2e8ee;
    height: 151px;
}


.drop-map {
}