/* -----------KONTEINER --------------- */
.FR-content {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    align-content: center;
    flex-wrap: nowrap;
    padding: 2rem 1rem;
}

/* ------- LOGO KONTEINER --------------*/ 
.FR-logo-container {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    align-items: center;
    text-align: center;
 }


.FR-joon {
    border-top: 2px solid #393333;
    width: 215px;
    height: 0px;
}

/* ------------ LOGIN ------------------*/ 
.FR-login-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.FR-login-container a {
    display: flex;
    background: #FFFFFF;
    border: 2px solid #000000;
    border-radius: 10px;
    padding: 0.8rem 2rem;
    gap: 1rem;
}

.FR-login-container a img {
    width: 26px;
}

.FR-login-container .button-text {
    flex: 1;
    text-align: center;
}

/* ---------- SKIP ----------- */
.FR-skip-container {
    display: flex;
    min-width: 200px;
    justify-content: center;
    gap: 1rem;
    padding-top: 1rem;
}

